<!--*H
Copyright 2017 Transport Systems Catapult (The Catapult)
All rights reserved
For use only for the purpose agreed with The Catapult
H*-->

<launch>

<!-- ====================== --> 
<!-- Launch args -->
<!-- ================= --> 

<arg name="pathFileName"/>
<arg name="sensor_out_0" default="hz " />


<!-- ================== --> 
<!-- Launch pod_rx_node -->
<!-- ================== -->

<include file="$(find lutz)/launch/lutz.launch">
</include>

<arg name="sensor_out_1" value="$(arg sensor_out_0) /pod_can_rx"/>

<!-- ======================== --> 
<!-- Launch oxts xnav550 node --> 
<!-- ======================== --> 

<include file="$(find oxts)/launch/oxts.launch">
</include>

<arg name="sensor_out_2" value="$(arg sensor_out_1) /imu/data"/>


<!-- ========================= -->
<!-- Launch Pod nodes -->
<!-- ========================= -->

<include file="$(find pod)/launch/pod.launch">
</include>

<!-- ========================= -->
<!-- Launch arduino node -->
<!-- ========================= -->

<include file="$(find arduino)/launch/arduino.launch">
</include>

<!-- ========================= -->
<!-- Launch Dead Mans Handle nodes -->
<!-- ========================= -->

<include file="$(find dead_mans_handle)/launch/dead_mans_handle.launch">
</include>

<!-- ========================= -->
<!-- Launch Demand Limiter nodes -->
<!-- ========================= -->

<include file="$(find demand_limiter)/launch/demand_limiter.launch">
</include>

<!-- ========================= -->
<!-- Launch age_checker node -->
<!-- ========================= -->

<include file="$(find age_checker)/launch/age_checker.launch">
</include>

<!-- ========================= -->
<!-- Launch acs nodes -->
<!-- ========================= -->

<include file="$(find acs)/launch/acs.launch">
	<arg name="pathFileName" value="$(arg pathFileName)"/>
</include>



<!-- =============== -->
<!-- Launch rostopic -->
<!-- =============== -->


<node pkg="rostopic" type="rostopic"
     name="rostopic_lutz" args="$(arg sensor_out_2)"
     output="screen" />



</launch>

























