<!--*H
Copyright 2017 Transport Systems Catapult (The Catapult)
All rights reserved
For use only for the purpose agreed with The Catapult
H*-->

<launch>

<!-- ===================== --> 
<!-- Launch socketcan node -->
<!-- ===================== -->

<node pkg="socketcan_bridge" type="socketcan_bridge_node" 
     name="mobileye_can_device" output="screen"
     args="_can_device:=can1 received_messages:=mobileye_can_rx sent_messages:=mobileye_can_tx"/>

</launch>
